# Ignore the BERT models
models/

# Ignore the google-research/bert repository
bert/

# Ignore the .ipynb_checkpoints
.ipynb_checkpoints/

# Ignore the display-data.ipynb file
Experiments/display-data.ipynb

.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/